:root {
  --black: #1C1C1C;
  --dark-gray: #273549;
  --medium-gray: #2F3E53;
  --light-gray: #D5D4D8;  
  --dark-green: #10b981;
  --medium-green: #4adf86;
  --light-green: #55f991;
  --navy: #1f2937;
  --white: #FFF;
}

/* Base
   ========================================= */

* {
  box-sizing: border-box;
}

body,
#passwords p {
  display: flex;
}

button,
#passwords span,
input[type='number'] {
  border-radius: 0.2rem;
}

input[type='number'],
button {
  border: none;
}

button,
input[type="checkbox"],
label {
  cursor: pointer;
}

body {
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: var(--white);
  background: var(--black);
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-content: center;
}

main {
  background: var(--navy);
  width: 80%;
  max-width: 700px;
  padding: 3rem 0;
  max-height: 100%;
}

section {
  margin: 2rem;
}

/* Hero
   ========================================= */

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: "800";
  margin-bottom: 0.5rem;
}

#hero {
  border-bottom: 1px solid var(--medium-gray);
}

#hero p {
  margin-top: 0;
  color: var(--light-gray);
}

#hero span {
  color: var(--medium-green);
  display: block;
}

/* Form
   ========================================= */

form {
  padding: 1rem 2rem;
  margin: 2rem 0 1rem;
  max-width: 25rem;
  color: var(--white);
  background: #161d27;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  text-align: center;
  width: 2rem;
  padding: 0.1rem;
  margin-left: 0.3rem;
  background: #161d27;
  color: var(--white);
  border-bottom: 1px solid var(--light-gray);  
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -moz-appearance: textfield;
}

input[type='number']:focus {
  outline: 1px solid var(--light-green);
}

form div {
  margin: 1.3rem 0;
}

input[type="checkbox"] {
  accent-color: var(--light-green);
  margin-right: 1rem;
}

button {
  color: var(--white);
  background: var(--dark-green);
  margin: 2rem 0;
  padding: 0.7rem 1rem;  
}

/* Passwords
   ========================================= */

#passwords p {
  justify-content: space-between;
  min-height: 2rem;
}

#passwords span {
  color: var(--light-green);
  background: var(--dark-gray);
  width: 47%;
  max-width: 300px;
  padding: 0.5rem 1rem;
}

/* Media
   ========================================= */

@media (min-width: 670px) {
  body {
    font-size: 1.1rem;
  }

  main {
    padding: 2rem 0;
  }

  section {
    margin: 2rem 4rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  input[type='number'] {
    font-size: 1rem;
  }
}