:root {
  --dark-black: #1C1C1C;
  --medium-black: #273549;
  --light-black: #2F3E53;
  --navy: #1f2937;
  --gray: #D5D4D8;
  --white: #FFF;
  --dark-green: #10b981;
  --medium-green: #4adf86;
  --light-green: #55f991;
}

* {
  box-sizing: border-box;
}

body,
#passwords p {
  display: flex;
}

button,
#passwords span,
form,
input[type='number'] {
  border-radius: 0.2rem;
}

input[type='number'],
button {
  border: none;
}

body {
  margin: 0;
  height: 100vh;
  color: #fff;
  background: var(--dark-black);
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-content: center;
}

main {
  background: var(--navy);
  width: 80%;
  max-width: 700px;
  padding: 5rem 0;
}

section {
  margin: 2rem;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-weight: "800";
  margin-bottom: 0.5rem;
}

#hero {
  border-bottom: 1px solid var(--light-black);
}

#hero p {
  margin-top: 0;
  color: var(--gray);
}

#hero span {
  color: var(--medium-green);
  display: block;
}

button {
  color: var(--white);
  background: var(--dark-green);
  margin: 2rem 0;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

form {
  border: 1px solid var(--gray);
  padding: 1rem;
  width: 15rem;
  margin: 2rem 0 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  width: 12rem;
  padding: 0.3rem 0.5rem;
  -moz-appearance: textfield;
}

input[type='number']:focus {
  outline: 1px solid var(--light-green);
}

.password-options {
  margin-top: 0.5rem;
}

input[type="checkbox"] {
  accent-color: var(--light-green);
}

#passwords p {
  justify-content: space-between;
  min-height: 2rem;
}

#passwords span {
  background: var(--medium-black);
  width: 47%;
  max-width: 300px;
  padding: 0.5rem 1rem;
}

@media (min-width: 670px) {
  body {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2.8rem;
  }
}